# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Render / build artifacts (optional)
*.log

# MD files (temporarily)
*.md